.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.product-cards {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.cards_plans--slider {
    justify-content: center;
}
